<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="resources.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name = "Parallel Tests" parallel = "methods">
        <!--
    parallel="classes">-->
        <classes>
            <class name="testcases.TC_HM_001"/>
            <class name="testcases.TC_HM_002"/>
            <class name="testcases.TC_HM_003"/>
            <class name="testcases.TC_HM_003_parameterize"/>
            <class name="testcases.TC_HM_003_parameterize_excel"/>
            <class name="testcases.TC_HM_003_parameterize_excel_util"/>
            <class name="testcases.dbconnector"/>
        </classes>
    </test>
</suite>